@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

body{
    font-family: 'Ubuntu Mono', monospace;
}

.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    background: #E0E0E0;
}
.flex-container{
    margin:10px 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding:5px 0px;
    max-width: 150px;
}
#ac{
    padding: 6px 31px;
}
#minus{
    padding: 6px 14px;
}
#equal{
    padding: 6px 61px;
}
#multiply{
    padding: 6px 14px;
}
#divide{
    padding: 6px 15px;
}
.tall{
    padding-top: 13px !important;
    padding-bottom:13px !important;
}
.display{
    color: #fff;
    width: 313px;
    height:40px;
    min-height:40px;
    border-radius: 5px;
    padding: 8px 4px;
    
}
.output{
    float: right;
}
.kiki{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 255px;
    padding-top: 20px;
    padding-bottom: 10px;
    background: #E0E0E0;
    border-radius: 12px;
    border-top: .5px solid #b8b8b8;
}
.attention{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.button{
    margin:5px;
    border: none;
}
.button:hover{
    box-shadow: none;
}
.copyright{
    color: #fff;
    background: #33445c;
    padding: 6px 113px;
    border-radius: 20px;
}
